@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    background-color: rgb(224, 239, 244);
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
